<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form method="POST" action="/team">
   <p>Team Name: <%= @name %></text>
   <p>Coach: <%= @coach %></p>
   <p>Point Guard: <%=@pg %></p>
   <p>Power Forward: <%=@pf %>
   Shooting Guard: <%=@sg %>
   Small Forward: <%=@sf %>
   Center: <%=@c %>
 </form>
 </body>
</html>
