<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form method="POST" action="/team">
   <p>Team Name: <%= @name %></p>
   <p>Coach: <%= @coach %></p>
   <!-- Point Guard: <%=@pg %>
   Power Forward: <%=@pf %>
   Shooting Guard: <%=@sg %>
   Small Forward: <%=@sf %>
   Center: <%=@c %> -->
 </form>
 </body>
</html>
